root, *, body {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: beige;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: bottom 22% right 50% / cover no-repeat url("./images/main-bg.jpg");
}

nav button {
    margin: 1.5em 1em;
    padding: 0.1em 0.4em; 
    font-size: 1.6em;
}

#content {
    /* background-color: antiquewhite; */
    color: white;
    margin-top: 3em;
    flex-grow: 1;
}

footer {
    order: 3;
    opacity: 0.7;
    line-height: 2em; /* Used to increase container height while centering text */
    background-color: rgb(35, 35, 35, 0.8);
    margin-top: auto;
    font-size: 0.82em;
    color: rgb(255, 255, 255);
}
footer a {
    color: rgb(108 145 255);
}